<%= render 'shared/nbar' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Preferred recipe:</strong>
  <%= @recipe.preferred_recipe %>
</p>

<p>
  <strong>Process types:</strong>
  <%= @recipe.process_types %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
