<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">RECIPE-O-TRON 5000</a>
    <ul class="nav navbar-nav">
      <li class = "nav-item"><%= link_to "Home", root_path %></li>
      <li class = "nav-item"><%= link_to "Input Quantities", input_quantities_path %></li>
      <li class = "nav-item"><%= link_to "Output Quantities", output_quantities_path %></li>
      <li class = "nav-item"><%= link_to "Item Classes", item_classes_path %></li>
      <li class = "nav-item"><%= link_to "Items", items_path %></li>
      <li class = "nav-item"><%= link_to "Mod Packs", mod_packs_path %></li>
      <li class = "nav-item"><%= link_to "Mods", mods_path %></li>
      <li class = "nav-item"><%= link_to "Process Types", process_types_path %></li>
      <li class = "nav-item"><%= link_to "Recipes", recipes_path %></li>
    </ul>
  </div>
</nav>

<br><br>