<p id="notice"><%= notice %></p>

<h1>Listing Output Quantities</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Recipes</th>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @output_quantities.each do |output_quantity| %>
      <tr>
        <td><%= output_quantity.count %></td>
        <td><%= output_quantity.recipes %></td>
        <td><%= output_quantity.items %></td>
        <td><%= link_to 'Show', output_quantity %></td>
        <td><%= link_to 'Edit', edit_output_quantity_path(output_quantity) %></td>
        <td><%= link_to 'Destroy', output_quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Output quantity', new_output_quantity_path %>
