<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @output_quantity.count %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @output_quantity.recipe %>
</p>

<p>
  <strong>Item:</strong>
  <%= @output_quantity.item %>
</p>

<%= link_to 'Edit', edit_output_quantity_path(@output_quantity) %> |
<%= link_to 'Back', output_quantities_path %>
