<%= render 'shared/nbar' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @output_quantity.count %>
</p>

<p>
  <strong>Recipes:</strong>
  <%= @output_quantity.recipes %>
</p>

<p>
  <strong>Items:</strong>
  <%= @output_quantity.items %>
</p>

<%= link_to 'Edit', edit_output_quantity_path(@output_quantity) %> |
<%= link_to 'Back', output_quantities_path %>
