<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :basic_item %>
    <%= f.association :mod %>
    <%= f.association :mod_pack, as: :radio_buttons %>
    <%= f.association :item_classes, as: :check_boxes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
