<p id="notice"><%= notice %></p>

<p>
  <strong>Process type:</strong>
  <%= @recipe_inclusion.process_type %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe_inclusion.recipe %>
</p>

<%= link_to 'Edit', edit_recipe_inclusion_path(@recipe_inclusion) %> |
<%= link_to 'Back', recipe_inclusions_path %>
