<%= simple_form_for(@input_quantity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :count %>
    <%= f.association :recipes %>
    <%= f.association :items %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
