<p id="notice"><%= notice %></p>

<h1>Listing Input Quantities</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Recipe</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_quantities.each do |input_quantity| %>
      <tr>
        <td><%= input_quantity.count %></td>
        <td><%= input_quantity.recipe %></td>
        <td><%= input_quantity.item %></td>
        <td><%= link_to 'Show', input_quantity %></td>
        <td><%= link_to 'Edit', edit_input_quantity_path(input_quantity) %></td>
        <td><%= link_to 'Destroy', input_quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input quantity', new_input_quantity_path %>
