<%= render 'shared/nbar' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @input_quantity.count %>
</p>

<p>
  <strong>Recipes:</strong>
  <%= @input_quantity.recipes %>
</p>

<p>
  <strong>Items:</strong>
  <%= @input_quantity.items %>
</p>

<%= link_to 'Edit', edit_input_quantity_path(@input_quantity) %> |
<%= link_to 'Back', input_quantities_path %>
